/**
 * Colours from logo:
 *    #eeaa33    #ff7700
 *    #ffffff
 *    #ffeecc    #ffffdd
 *    #eeccaa    #ffdd77
 *    #774411    #992200
 */


/******************************************
 * Main structure
 */
body {
  background: #7d7065;
  color:      #111008;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

#main {
  background: #fff url(logo-small.png) 95% 2.5em no-repeat;
  margin: -2em 0% 0 0%;
  padding: 3em 5% 4em 5%;
  border-radius: 0 0 64px 64px;
  box-shadow: 0 1em 1em #444;
}

h1, h2, h3 {
  font-family: 'Open Sans Condensed', sans-serif;
}

h3 {
  text-transform: uppercase;
  margin: 1em 0 0 0;
}

a {
  color: #7d7065;
}

#content p {
  margin-bottom: 0px;
}

/******************************************
 * Index slideshow
 */
#index #photos {
  margin: 60px 0 0 auto;
  padding: 0;
  width: 595px;
  height: 595px;
}

#index #photos div {
  width: 595px;
  height: 595px;
  display: none;
  background: none;
}


/******************************************
 * Index header
 */
#index #main {
  height: 600px;
}

#index #header {
  margin: 60px 0 0 0;
  position: absolute;
  z-index: 10;
}

#index h1 {
  position: relative;
  margin: 0;
  top: 0;
  padding: 0;
  font-size: 112px;
  letter-spacing: -0.04em;
  text-shadow: 0 0 0.1em #fff;
  white-space: nowrap;
}

#index .icongrid {
  z-index: 10;
  position: relative;
  top: 220px;
  margin: 0;
  padding: 0;
  max-width: 400px;
}

.icongrid .icon {
  margin: 0;
  padding: 0;
  width: 128px;
  height: 180px;
  margin-right: 64px;
  float: left;
}

.icongrid .icon a img {
  border: none;
}

.icongrid .icon p {
  text-align: center;
  margin: 2px 0 0 0;
  padding: 0;
}

.icongrid .icon a {
  text-decoration: none;
}

.icongrid .icon a:hover {
  text-decoration: underline;
}



/******************************************
 * Product header
 */
#product #header {
  margin: 60px 0 -88px 0;
  background: right bottom no-repeat;
  height: 400px;
  position: relative;
}

h1, #product h2 {
  color: #147cdf;
  margin: 0;
  padding: 0;
  position: absolute;
  text-shadow: 0 0 0.1em #fff;
  white-space: nowrap;
}

h1 {
  font-size: 112px;
  letter-spacing: -0.04em;
  top: 96px;
  left: -0.08em;
}

#product h2 {
  font-size; 28px;
  letter-spacing: 0.08em;
  top: 230px;
  left: 0;
}

#product #notheader {
  position: relative;
  z-index: 10;
}


/******************************************
 * Product sidebar
 */
#product .sidebar {
  float: right;
  width: 20%;
  clear: right;
  margin: 0 0 3em 0;
  text-align: right;
}

#product .sidebar h3 { margin: 0; padding: 0; }
#product .sidebar ul, #product .sidebar li {
  margin: 0;
  list-style: none;
  padding: 0;
}

#product #content {
  width: 75%;
  min-height: 30em;
}

#product .sidebar.icon {
  margin-top: -128px;
}


/******************************************
 * Footer
 */
#footer {
  font-size: 80%;
  color: #eeccaa;
  padding: 2em 5% 1em 5%;
  position: relative;
}

#footer .ds {
  position: absolute;
  top: 0px;
  left: 0px;
}

#footer ul, #footer li {
  list-style: none;
  margin: 0 0.1em 0 0;
  padding: 0;
  font-size: 90%;
}

#footer a {
  color: #eeccaa;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

#footer .column {
  float: left;
  width: 20%;
  margin: 1em 0 0 -1px;
  border-left: 1px solid #5d534b;
  height: 8em;
}

#footer .column h3 {
  margin-top: 1em;
}

#footer .column * {
  text-align: center;
}

#footer .column.first {
  border-left: none;
}

#footer #trail {
  clear: both;
  padding-top: 2em;
  text-align: center;
  color: #5d534b;
}

#footer #trail a {
  color: inherit;
}
